body {
  margin:20px;
}
a {
  color:black;
  text-decoration-line:none;
}
h1 {
  border-bottom:1px solid gray;
  padding:120px;
}
h2 {
  margin-right: 50px;
  border-bottom:1px solid gray;
}
ol {
  border-right:1px solid gray;
  width:250px;
  margin:0px;
  padding:30px;
}
#grid {
  display: grid;
  grid-template-columns: 220px 1fr;
}
#grid ol {
  padding-left:10px;
}
#grid #article {
  padding-left:60px;
}
#grid #title {
  padding:15px 10px 15px 20px; /* 내부여백 padding값 순서대로 top right bottom left */
  line-height:20px;
  text-align: center;
  margin-bottom:1px; /* 하단에 외부여백 1px */
  background:#C8A5C4;
}
#grid #vacuum {
 padding-top:150px;
}
#grid #vacuum2 {
 padding-top:430px;
}
#grid #title2 {
  padding:15px 10px 15px 20px; /* 내부여백 padding값 순서대로 top right bottom left */
  line-height:20px;
  text-align: center;
  background:#C8A5C4;
}
#menu {
  text-align: center;
}
#menu a {
	display:block; /* a태그의 display속성을 block으로 설정 */
	padding:15px 10px 15px 20px; /* 내부여백 padding값 순서대로 top right bottom left */
	margin-bottom:1px; /* 하단에 외부여백 1px */
	background-color:#EDEDEA; /* 바탕색 */
	font:14px Verdana; /* 폰트 속성 순서대로 크기 글꼴 */
	text-transform:uppercase; /* 폰트를 대문자로 바꿔준다. */
}
#menu a:hover {
	padding-left:20px; /* 왼쪽 여백을 기존 15px에서 10px으로 줄여준다. */
	border-left:15px solid #b6e24c; /* 줄어든 여백만큼 border로 10px을 지정해 준다. */
	color:black; /* 폰트 색상 */
}
#footer {
  position: sticky;
  bottom:0px;
  height:70px;
  width: 100%;
  padding-top:25px;
  border-radius: 20px;
  background-color: #ddd;
}
#footer-menu {
  text-align: center;
}
#footer-menu a {
  padding:15px 99px 15px 99px; /* 내부여백 padding값 순서대로 top right bottom left */
  font:14px Verdana; /* 폰트 속성 순서대로 크기 글꼴 */
  border-radius: 10px;
  margin-right:5px; /* 하단에 외부여백 1px */
  background-color:#EDEDEA; /* 바탕색 */
  text-transform:uppercase; /* 폰트를 대문자로 바꿔준다. */
}
#footer-menu a:hover {
	padding-top:17px; /* 왼쪽 여백을 기존 15px에서 10px으로 줄여준다. */
	border-top:10px solid #b6e24c; /* 줄어든 여백만큼 border로 10px을 지정해 준다. */
  padding-bottom:13px; /* 왼쪽 여백을 기존 15px에서 10px으로 줄여준다. */
	border-bottom:10px solid #b6e24c; /* 줄어든 여백만큼 border로 10px을 지정해 준다. */
	color:black; /* 폰트 색상 */
}

.floating {
  position: sticky;
  left: 2;
  top: 50px;
}
.hover_effect_box {
   width: 190px;
   height: 180px;
   margin: 0px;
   border: 9.2px solid #f3f3f3;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
   background: #fff;
   box-sizing: initial;
}
.hover_effect_box .caption {
   width: 190px;
   height: 180px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.hover_effect_box .content_bg {
   display: block;
   position: relative;
}
.hover_effect_box .caption_title {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: #787878;
}
.hover_effect_box .caption_desc {
    font-size: 0.9em;
    line-height: 1.5;
    position: relative;
    color: #fff;
    padding: 15px 10px 10px;
    text-align: center;
 }
.hover_effect_box .caption_link {
   display: inline-block;
   text-decoration: none;
   padding: 3px 14px;
   background: #5a5a5a;
   color: white;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.hover_effect_box .caption_link:hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
.hover_effect_1 .content_bg {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.hover_effect_1 .caption {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: rgba(210, 180, 140, 1);
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.hover_effect_1 .caption_title {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.hover_effect_1 .caption_desc {
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.hover_effect_1:hover .content_bg {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}
.hover_effect_1 .caption_link {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.hover_effect_1:hover .caption {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.hover_effect_1:hover .caption_title,
.hover_effect_1:hover .caption_desc,
.hover_effect_1:hover .caption_link {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.hover_effect_1:hover .caption_desc {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.hover_effect_1:hover .caption_link {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
@media(max-width:900px){
  #grid{
    display: block;
  }
  ol{
    border-right:none;
  }
  h1 {
    border-bottom:none;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.wrap-circles {
  display: flex;
}

.content {
  position: absolute;
  top: auto;
  left: 50%;
  width: 97%;
  height: auto;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
  background: #FEAC5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
svg text {
  font-family: 'Anton', sans-serif;
  font-size: 6rem;
  stroke-width: 1px;
  stroke: #fff;
  fill: transparent;
  stroke-dashoffset: 750;
  stroke-dasharray: 750;
  animation: stroke 1.5s linear;
  animation-fill-mode: forwards;
}


$total: 9;
@for $i from 1 through $total {
  text:nth-child(#{$i}) {
    animation-delay: $i - 1 + s;
  }
}

@keyframes stroke {
  0% {
    stroke-dashoffset: 750;
  }
  70% {
    fill: #fff;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #fff;
  }
}

@import url("https://fonts.googleapis.com/css?family=Lato:300");
*, *::before, *::after {
  box-sizing: border-box;
}

/*** <--- CIRCLE STYLES ---> ***/
.circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin-right:30px;
  border-radius: 50%;
  background: #FFCDB2;
  overflow: hidden;
}
.circle.per-60 {
  background-image: conic-gradient(#B5838D 60%, #FFCDB2 0);
}
.circle.per-80 {
  background-image: conic-gradient(#B5838D 80%, #FFCDB2 0);
}
.circle.per-85 {
  background-image: conic-gradient(#B5838D 85%, #FFCDB2 0);
}
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 115px;
  background: white;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 300;
  color: black;
}
/* section common */
section { padding:250px 0; box-sizing:border-box;}
h2 { text-transform:uppercase; text-align:center; font-size:40px; color:#212529; font-weight:700; font-family:'ESans', sans-serif; }
.cnt_inner { max-width:1024px; margin:0 auto; }
.border { font-size:24px; color:#333; text-align:center; margin:20px 0 40px; }
p.border:before, p.border:after { display:inline-block; margin-top:-4px; vertical-align:middle; content:""; background-color:#d0d0d0; width:30px; height:1px; }
/* home */
#home {
  height: 50vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.type-wrap {
  width: 27ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font:40px 'ESans' ,sans-serif;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}
/* about */
#about {
  width:100%;
  height:auto;%;
  background:#fff;
  position:relative;
}
#about .desc_box {
  width:98%;
  display:table;
  margin:0 auto;
}
#about .desc_box:after {
  clear:both;
  content:'';
  display:block;
}
#about .desc {
  width:33.33%;
  text-align:center;
  font-family:'NotoSansKR', sans-serif;
  font-weight:300;
  line-height:2;
  display:table-cell;
  vertical-align:top;
  text-align:center;
}
#about .desc .icon {
  display:table;
  margin:0 auto 40px;
}
#about .desc .icon p {
  display:table-cell;
  border-radius:50%;
  width:100px;
  height:100px;
  border:1px solid #cdcdcd;
  text-align:center;
  vertical-align:middle;
  font-size:0;
  transition:all 0.4s;
}
#about .desc .icon:hover p {
  border-color:#636c77;
}
#about .desc .icon img {
  height:50%;
}
#about b {
  font-weight:500;
  color:#3c3c3c;
  font-size:18px;
}
#about .rt .icon img {
  margin-right:12px;
}
#about ul {
  width:100%;
  box-sizing:border-box;
}
#about ul li {
  display:table;
  width:100%;
}
#about ul li a {
  width:100%;
  display:table-cell; vertical-align:middle;
  text-align:center;
  color:#646c77;
}
#about ul li a img {
  vertical-align:middle;
  height:24px;
}
#about ul li a span {
  vertical-align:middle;
  margin-left:8px;
}
